In [1]:
%matplotlib inline
import requests
import jsm
from bs4 import BeautifulSoup
import sqlite3
import pandas as pd

In [2]:
q = jsm.Quotes()
b = q.get_brand()
ccodes = []
d = {}
for key in b:
    for i in b[key]:
        ccodes.append(i.ccode)
        d[i.ccode] = i.name # to convert compnay code to company name

/home/nwata/anaconda3/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /home/nwata/anaconda3/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [3]:
def get_profit(ccode):
    r = requests.get('https://profile.yahoo.co.jp/consolidate/{}'.format(ccode))
    bs = BeautifulSoup(r.text, 'lxml')
    text = bs.findAll('td')[39].text
    num = ''.join(s for s in text if s.isdigit())
    return int(num) if num else -1

def get_num_employees(ccode):
    r = requests.get('https://profile.yahoo.co.jp/fundamental/{}'.format(ccode))
    bs = BeautifulSoup(r.text, 'lxml')
    text = bs.findAll('td', attrs = {"width": "25%"})[-1].text
    num = ''.join(s for s in text if s.isdigit())
    return int(num) if num else -1

In [4]:
data = []
for ccode in ccodes:
    pft = get_profit(ccode)
    num = get_num_employees(ccode)
    per = round(pft / num, 2) if pft > 0 and num > 0 else -1
    datum = (ccode, pft, num, per)
    data.append(datum)

print('got net income and employees from {} companies out of {}'.format(len([i for i in data if i[3] > 0]), len(ccodes)))

got net income and employees from 3075 companies out of 3667

In [18]:
conn = sqlite3.connect('income_per_person.db')
c = conn.cursor()
c.execute('CREATE TABLE ccodes(ccode TEXT)')
c.executemany('INSERT INTO ccodes VALUES (?)', [(i,) for i in ccodes])
c.execute('CREATE TABLE names(ccode TEXT, name TEXT)')
c.executemany('INSERT INTO names VALUES (?, ?)', [(i, d[i]) for i in ccodes])
c.execute('CREATE TABLE companies(ccode TEXT, net_income INTEGER, employee INTEGER, per_person REAL)')
c.executemany('INSERT INTO companies VALUES (?, ?, ?, ?)', data)
conn.commit()

In [21]:
df_com = pd.io.sql.read_sql_query('SELECT ccode, per_person FROM companies WHERE per_person > 0 ORDER BY per_person DESC', conn)
df_name = pd.io.sql.read_sql_query('SELECT ccode, name FROM names', conn)
df = df_com.join(df_name.set_index('ccode'), on='ccode')
df

     ccode  per_person               name
0     8925      162.84           (株)アルデプロ
1     8918      123.43             (株)ランド
2     3252       93.29          日本商業開発(株)
3     2121       90.43            (株)ミクシィ
4     4596       89.82    窪田製薬ホールディングス(株)
5     4563       86.84           アンジェス(株)
6     8818       76.09       京阪神ビルディング(株)
7     8595       72.85            (株)ジャフコ
8     1606       68.00          日本海洋掘削(株)
9     4565       67.57        そーせいグループ(株)
10    2337       62.06             いちご(株)
11    3454       57.17      ファーストブラザーズ(株)
12    4586       54.74          (株)メドレックス
13    4564       54.58   オンコセラピー・サイエンス(株)
14    4592       49.59           サンバイオ(株)
15    3750       46.40  セブンシーズホールディングス(株)
16    2134       45.82   燦キャピタルマネージメント(株)
17    7776       42.85           (株)セルシード
18    3003       42.20          ヒューリック(株)
19    8410       39.43           (株)セブン銀行
20    8697       38.82       (株)日本取引所グループ
21    4570       38.78         (株)免疫生物研究所
22    3777       38.00          (株)ジオネクスト
23    8890       37.06            (株)レーサム
24    9419       36.47        (株)ワイヤレスゲート
25    7148       36.23             (株)ＦＰＧ
26    4321       34.65          ケネディクス(株)
27    3350       33.61  (株)レッド・プラネット・ジャパン
28    8836       32.40            (株)ＲＩＳＥ
29    7777       32.37  (株)スリー・ディー・マトリックス
...    ...         ...                ...
3045  1840        0.04      (株)土屋ホールディングス
3046  5998        0.04          (株)アドバネクス
3047  7238        0.04         曙ブレーキ工業(株)
3048  7277        0.04             (株)ＴＢＫ
3049  7869        0.04      日本フォームサービス(株)
3050  4784        0.04     ＧＭＯアドパートナーズ(株)
3051  1408        0.03   サムシングホールディングス(株)
3052  6424        0.03    (株)高見沢サイバネティックス
3053  6640        0.03            第一精工(株)
3054  7752        0.03             (株)リコー
3055  7923        0.03            トーイン(株)
3056  3776        0.03      (株)ブロードバンドタワー
3057  4814        0.03         ネクストウェア(株)
3058  3346        0.03          ２１ＬＡＤＹ(株)
3059  2168        0.03         (株)パソナグループ
3060  6059        0.03    (株)ウチヤマホールディングス
3061  6794        0.02         フォスター電機(株)
3062  9479        0.02   (株)インプレスホールディングス
3063  7420        0.02            佐鳥電機(株)
3064  7162        0.02         アストマックス(株)
3065  4834        0.02         キャリアバンク(株)
3066  9439        0.02     (株)エム・エイチ・グループ
3067  9603        0.02       (株)エイチ・アイ・エス
3068  5932        0.01            三協立山(株)
3069  5950        0.01     日本パワーファスニング(株)
3070  7781        0.01      (株)平山ホールディングス
3071  3393        0.01          スターティア(株)
3072  8095        0.01             イワキ(株)
3073  8289        0.01     (株)Ｏｌｙｍｐｉｃグループ
3074  2488        0.01      日本サード・パーティ(株)

[3075 rows x 3 columns]

In [22]:
df.describe()

        per_person
count  3075.000000
mean      3.305291
std       7.308593
min       0.010000
25%       0.720000
50%       1.640000
75%       3.240000
max     162.840000

In [ ]:
ax = df[:10].plot.bar(x='ccode', y='per_person')
ax.set_title('THE 10 BIGGEST NET INCOME PER PERSON')
ax.set_xlabel('Companies on stock market')
ax.set_ylabel('Million Japanese Yen')

In [6]:
conn.close()